.tox/
.git/
.cache/
.dpp.db
.dppdb
.github/
.idea/
build/
datapackage_pipelines.egg-info/
dist/
samples/
tests/
.coverage*
.dockerignore
.dpp
.gitignore
.pytest*
.travis.yml
CONTRIBUTING.md
Dockerfile
Pipfile*
*.zip
pylama.ini
tox.ini
__pycache__
